@import './css/button.css';
@import './css/table.css';

:root {
  --light-gray: #eee;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

main {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 100ch;
  margin: 0 auto;

  p {
    width: 100%;
  }

  h1 {
    text-align: center;
  }
}

.text-right {
  text-align: right;
}
